    // Import page-specific CSS files here.
      @import "home";
      @import"trainershow";
      @import"bookingshow";
      @import"newbooking";
      @import"newtrainer";
      @import"newbooking";
      @import"edituser";
      @import"about";

      h1

      {

        border-bottom:double;
        border-color:green;
      }

      h2

      {

        border-bottom:double;
        border-color:blue;
        margin-top:3px;
      }


     h3
     {

      border-bottom:double;
      border-color:blue;


     }


#h1_home

{

  text-decoration:none;
  border:none;
}


