.create_training
{

  margin-top:220px;
}


#icons_row2
{
  margin-top:30px;
  padding-bottom:5px;
  height:1vh;

}

.training_footer

{

  height:9vh;
  font-size:40px;


}

#trainer_hourly_rate

{

color:black;

}



.create_training

{
  width:15vw;
  margin-left:10vh;
  color:black;

}

.enter_category
{

  width:15vh;
}




#trainer_icon_row

{


  height:10vh;
  padding-top:3vh;
}

.bewtween
{

background-color:#1e2940;
height:1vh;
}

.new_train_ban
{

  position:relative;
  display:flex;

}

.create_training
{

position:absolute;
left:-4vw;
top:-16vh;
padding-top:1vh;


}
.gender_and_button
{

  display:flex;
}

.training_btn
{

margin-top: 6.5vh;
width: 10vw;

}

#new_trainer
{
  height:10vh;
}




.tra_inp_field
{
font-size: 2.3vh;
font-weight: lighter;
color: white;
font-style: bold;
height: 2vh;
margin-bottom: 2.1vh;
}

#new_train_ban
{
  height:95vh;
  margin-top:10vh;
}
.gender_field
{
  width:4vw;
}

.button, select {

    width: 15vw;
}
