.create_training
{

  margin-top:220px;
}


#icons_row2
{
  margin-top:30px;
  padding-bottom:5px;
  height:1vh;

}



.training_footer

{

  height:9vh;
  font-size:40px;


}

#trainer_hourly_rate

{

color:black;

}

.blue

{

  height:72px;
}

.create_training

{
  width:15vw;
  margin-left:10vh;

}

.enter_category
{

  width:15vh;
}
