.input1
{

 width:40px;
 height:60px;


}

.input1
{

 width:40px;
 height:45px;


}

#booking_banner
{


  margin-top:99px;
  background-image:none;
  height:50vh;
  display:flex;
  justify-content:center;

}

.push_up
{
  margin-bottom:0px;
  margin-top:0px;

}


#tra_icons
{


height:9vh;
background-color:#103148;

}
.input_form
{
 padding-left:10vw;
 width:35vw;
 padding-top:5vh;

}

#trainer_expertise_id

{

  width:28vh;
}

#booking_hours
{
  width:30vh;
}


.input_form

{

 width:13vw;
 display:flex;
}

.num_hour
{

   width:3vw;
 }
.book

{


  height:3.8vh;
 }

.input

{
  margin-top:5vh;
  padding-left:13vw;
  color:black;
 }


.newtrainer_banner

{

   margin-top:5vh;
 }

 .between
 {

  height:2vh;
  background-color:#445d66;
  margin-bottom:0vh;

 }

.input_form

{
  padding-right:150vh;

}

.booking_btn

{
  margin-top:2vh;

}

.bottom-index
{

  height:10vh;
}

.experise
{

  margin-left:10vw;
}

.sessions_details
{

  padding-right:57vh;
  padding-top:3vh;
  font-size:3vh;
  text-decoration:underline;
}
