.input1
{

 width:40px;
 height:60px;


}

.input1
{

 width:40px;
 height:45px;


}




#booking_banner
{


  margin-top:99px;
  background-image:none;
  height:50vh;
  display:flex;
  justify-content:center;

}




.push_up
{
  margin-bottom:0px;
  margin-top:0px;

}

.booking_footer
{

  -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    margin-top:70px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:green;
    height:10vh;
    font-size:20px;
    text-decoration:bold;
    text-decoration:underline;

}


#icons_row
{
  margin-top:30px;
  padding-bottom:5px;
  height:1vh;

}

.icon
{
  padding-bottom:5px;


}

.input_form
{
 width:50vh;

}

.hours
{

  font-size:30px;
  height:10vh;
  color:green;
  text-decoration:underline;

}

.pic
{

  border-radius: 50%;
}
#trainer_expertise_id

{

  width:28vh;
}
