.sign_form
{

margin-top: 10vh;
width: 16.8vw;
margin-left: -89vw;
padding-left: 4.3vw;

}
.pas
{
  padding-left: 5vw;
  width: 19.4vw;
}

.sides
{
  margin-left:6vw;
}

.rem

{

  margin-left:5vw;
}
