.trainer-img {
  height: 300px;
  border-radius: 50%;
  position: cover;
}

.show_rev
{
  margin-left:7vw;
}

.trainer_details

{
 margin-top:10vh;
 padding-left:8vw;
 height:90vh;
 width:80vw;
 

}
.cancel_back
{
margin-right:5vw;


}
