

h4

{

font-size: 30px;


}

#linksrow
{

  height:30px;
}

#h1_show
{
  padding-top:20px;
  margin-top:94px;
  margin-bottom:35px;
  border:none;


}

.trainer_details

{

  margin-top:60px;
  border:none;
  height:80vh;
  width:60vw;
}

#t_details
{

  border:none;
  text-decoration:underline;
  margin-bottom:5px;
  margin-top:3px;
}

.properties

{
 border:none;
 text-decoration:underline;
}

#more
{
  margin-top:20px;

}

#more2
{
  margin-top:20px;

}

.grid

{

display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 34% 33% 33%;


}

.name
{
 grid-row: 1 / span 1;
 grid-column:1 / span 2;

}


.address
{
 grid-row: 2 / span 1;
 grid-column:1 / span 2;

}


.email
{
 grid-row: 3 / span 1;
 grid-column:1 / span 2;

}

.age
{
 grid-row: 1 / span 1;
 grid-column:3 / span 1;

}

.response
{

 h3 {

    font-size:2vw;


 }


 p
 {

    font-size:2vw;

 }

}

.tr_bt
{
 margin-top:2vh;
 width:10vw;
}


.bottom-index
{

  height:60vh;

}

.bottom_show
{

  height:10vh;
  background-color:#184b6d;
}


.bottom_row
{

  background-color:#184b6d;
}
.experise
{
  margin-left:-5vh;
}

.rate
{

  margin-right:-93vh;
}

.sessions_details
{

  padding-right:30vw;
}
