.all_trainers
{
  margin-top:1vh;
  width:60vw;
  padding-left:-1vw;
  padding-bottom:2vh;

}

.image_link
{

  width:100%;
  height:100%;

  a{
    img{
         width:100%;
         height:100%;


    }
  }
}

.land_sign

{

margin-top:3vh;

}
.contain
{

  background-color:#36475a;
  display:flex;
  justify-content:space-between;
  align-items:centre;
  align-items: center;
  margin-bottom:-6vh;
}

.train_hard
{

padding-left:9vw;
font-size:3vh;
color:white;
text-decoration:underline;

}

.feel_good

{

padding-right:9vw;
font-size:3vh;
color:white;
text-decoration:underline;

}



