.all_trainers
{
  margin-top:3vh;
  width:95vw;
  padding-left:-1vw;
}

.image_link
{

  width:100%;
  height:100%;

  a{
    img{
         width:100%;
         height:100%;


    }
  }
}

.land_sign

{

margin-top:3vh;

}
.contain
{

  background-color:#36475a;
}

.avatar
{


}

