.all_trainers {
  margin-top:30px;
  width:60vw;
  padding-left:-1vw;
  padding-bottom:2vh;
}

.image_link
{

  width:100%;
  height:100%;

  a{
    img{
         width:10vw;
         height:20vh;


    }
  }
}

.land_sign

{

margin-top:3vh;

}
.contain
{

  background-color:#36475a;
  display:flex;
  justify-content:space-between;
  align-items:centre;
  align-items: center;
  margin-bottom:-6vh;
}

.train_hard {
    padding-left: 4vw;
    font-size: 3vh;
    color: white;
    text-decoration: underline;
    margin-top: 3vh;
             }
.feel_good

{

padding-right:9vw;
font-size:3vh;
color:white;
text-decoration:underline;

}

.train_index_links

{

  height:1vh;

}

.inspect
{

  margin-top:20vh;
}
.become-trainer-link
{
  font-size:28px;
  color: white;
  padding:15px;
  border-radius:5px;
  margin-top:50px;


}
.become_trainer
{
  display: flex;
  align-items:center;
  justify-content:center;
}

