.my_bookings
{


  margin-top:2vh;
  padding-left:2vw;
  height:5vh;

  // margin: 10px auto 0 auto;
  // display: block;
}

.user_bookings

{

height:100vh;
margin-top: 10vh;

}





 .write_review
 {


   width:50vw;
   font-size:2.5vh;


}

.pre_link
{

color: green !important;
margin-top: 5vh;
font-size: 1.7vw;
margin-left: -0.5vw;

}





