
<style>


#calendar-container{
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 1.5vh;
  border-radius: 10px;
  background-color:blue;
  height:100px;
  width:175px;
  margin-left:50px;
  font-size:15px;
  border: 1px solid #eee;
  font-family: Arial;
  background-color:#3e565e;
  padding-left:10px;

}

</style>


<h1>hello mister yes yes yes </h1>

<div id="calendar-container">
 <div id="days">S M T W T F S</div>


 </div>



 August 2018
S M T W T F S
      1 2 3 4
5 6 7 8 9 10  11
12  13  14  15  16  17  18
19  20  21  22  23  24  25
26  27  28  29  30


