<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h2><%= link_to "Click here to see avilable training sessions",trainers_path%></h2>











                                                                        t
