<style type="text/css">
  #home_header{margin-bottom:20px;}

  #trainer{padding-top:340px;border:none;}
</style>
<div class="banner" id="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/erezfriemagor/image/upload/v1535455583/coach.jpg');">

  <div class="banner-content">
    <center>
    <h1 id="trainer">Find Your Coach</h1>
    <p id="home_header" >Acheive your life goals with the right coach</p>


    <h2><%= link_to "Find a coach", trainers_path, class: 'btn btn-primary  btn-lg'%></h2></center>

   <center>
    <div class= "btn-btn-primary land_sign">





 </div>

</center>


  </div>
</div













