.banner {
  color: white;
  height: 100vh;
  background-size: cover !important;
  display:flex;
  justify-content:center;
}

.banner-index {
   height: 170vh;
   padding-top:0px;
   background-image:url('training.jpeg');
   display:flex;
}


.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-weight: lighter;
  color: rgb(255, 255, 255);
  font-style:bold;

  // margin-bottom:250px;
}

.banner-content {

  h2 {

    border:none;

  }

}

#index_banner

{

  height:70vh;
  width:100vw;
  margin-top:10vh;




}

#index_tra_ban

{
  color: white;
  height: 100vh;
  background-size: cover !important;
  width:100vw;
  display:flex;
  justify-content:center;


}


#training_banner
{

  margin-top:99px;
  background-image:none;
  height:70vh;
  display:flex;
  justify-content:center;
  align-items:center;

}

.second

{

  height:100vh;
  margin-top:10vh;

}

.show_booking_ban
{

height:130vh;
h3
{

  font-weight:900;
  text-decoration:none;

}

p
 {



 }


}


.banner_booking

{

  height:100vh;
  margin-top: -19px;

}

p{

   font-size: 25px;


}


